Dockerfile
docker-compose.yml
.dockerignore
node_modules
npm-debug.log
README.md
.next
.git
.github
.gitignore
package-lock.json
yarn.lock
pnpm-lock.yaml
test
tests
*.log
local-*
.env
.env.local
.env*.local
scripts/
docs/
